::-webkit-scrollbar {
    width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #DDDDDD;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #AAAAAA;
}

.home_body {
    margin: -5px;
}

.logo {
    height: 60px;
    margin-bottom: 16px;
    background: #DDDDDD;
    padding: 4px;
}

.overflow_navbar {
    background-color: white !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow_navbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow_navbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}